
h1{
    color: red;
    font-size: 20px;
    font-style: initial;
}
h2{
    color: blue;
}
.navbar{
    height: 40px;
    background-color: blue;
    color: white;
}
.navbar .menu{
    list-style-type: none;
}
.navbar .menu li{
    float: left;
    margin: 0px 9px;
}
.navbar .menu li a{
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    line-height: 40px;
    padding: 4px 8px;
}